<ul class="nav nav-tabs" id="tab-01">
    <li><a href="#domains/edit/{{domain_id}}">Domain Details</a></li>
    <li class="active"><a href="javascript:void(0)">Domain Plan</a></li>
    <li><a href="#">Statistics</a></li>
</ul>
<div class="tab-content">
    <!-- Show user domain and add new user domain region -->
    <div class="tab-pane active">
        <div class="page-title"><i class="icon-custom-left"></i>

            <h3>Find a plan that's <span class="semi-bold"> right for you.</span></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tiles blue">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="tiles-body">
                                <div> ACTIVE PLAN</div>
                                <div class="heading">
                                    <span class="animate-number"
                                          id="active-plan-name">{{plan_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tiles-body">
                                <div> ACTIVE SINCE</div>
                                <div class="heading">
                                    <span class="animate-number">{{start_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="plans-list">
            <ul class="ca-menu"></ul>
        </div>
        <div class="clearfix"></div>
		<br><br>
		<p class="text-danger">Note:</p>
        <div class="text-muted">
            At any point during the billing cycle you can choose to upgrade or downgrade your plan. Simply change plan in your edit domain page and click on the upgrade or downgrade button for the plan of your choosing.<br><br>
			If you upgrade you will be billed the difference between your previous plan and the cost of the new plan, if you downgrade you will be credited the amount you have paid for your previous plan.<br><br>
			For clients who are not billed using our automated system, please contact <a href="mailto:accounting@bensmiley.com ">accounting@bensmiley.com </a>with any questions or concerns.

        </div>
    </div>
    <hr>
</div>