<div class="col-md-6">
    <div class="card-wrapper"></div>
</div>
<div class="col-md-6">
    <div class="form-container active">
        <form id="payment-form" autocomplete="off">
            Enter your card information below.
            You will receive a notification confirming your payment
            shortly in your registered email. Once the payment is
            processed you will get an invoice in
            your registered email address.<br><br>

            <div class="row form-row">
                <div class="col-md-6">
                    <input placeholder="Card number" name="number" type="text"
                           class="form-control" data-encrypted-name="credit_card_number"
                           id="credit_card_number">
                </div>

                <div class="col-md-6">
                    <input placeholder="Full name" name="name" type="text"
                           data-encrypted-name="cardholder_name"
                           class="form-control"
                           id="cardholder_name">
                </div>

                <div class="col-md-3">
                    <input placeholder="MM/YY" type="text"
                           class="form-control" name="expiry" data-encrypted-name="expiration_date"
                           id="expiration_date">
                </div>

                <div class="col-md-3">
                    <input placeholder="CVC" type="text"
                           class="form-control" name="cvc" data-encrypted-name="credit_card_cvv"
                           id="credit_card_cvv">
                </div>
                <p class="text-center">
                    <a href="#" class="btn btn-primary" id="submit">
                        <i class="icon-ok"></i>Submit</a>
                    <a href="#" class="btn btn-primary" id="cancel">
                        <i class="icon-ok"></i>Cancel</a>
                </p>

            </div>
        </form>
    </div>
    <div id="success-msg"></div>

    <div class="col-md-5 loader">
        <span class="ajax-loader-login" style="display: none"></span>
    </div>
</div>