<div class="row form-row">

    <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Your Card Number"
               id="braintree_credit_card_number"
               value="4111111111111111" data-braintree-name="number">
    </div>

    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="CVV"
               data-braintree-name="cvv">
    </div>

</div>

<div class="row form-row">
    <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Card Holders Name"
          data-braintree-name="cardholderName">
    </div>
</div>

<div class="row form-row">
    <div class="col-md-6">
        <div class="input-append success date col-md-12 col-lg-12 no-padding">

            <input type="text"
                   id="braintree_credit_card_exp" value="12/2015" data-braintree-name="expiration_date">
            <!--<input type="text" class="form-control">
             <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i>
             </span> -->
        </div>

        <button type="submit" class="btn btn-primary" id="btn-make-pay">Upgrade Plan</button>
        <button type="button" class="btn btn-danger">Cancel and choose another plan</button>
    </div>
</div>