<div class="page-title"><i class="icon-custom-left"></i>
    <h3>User <span class="semi-bold">Profile</span></h3>
</div>
<!-- BEGIN BASIC FORM ELEMENTS-->
<div class="row">
    <div class="col-md-9">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4><span class="semi-bold">Profile</span></h4>
            </div>
            <div class="grid-body no-border"><br>

                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="form-group">
                            <label class="form-label">Your Name</label>

                            <div class="controls">
                                <input type="text" class="form-control" name="display_name" id="display_name"
                                       placeholder="e.g. Mona Lisa Portrait" value ="{{display_name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>

                            <div class="controls">
                                <input type="text" class="form-control" name="user_email" id="user_email"
                                       placeholder="e.g. some@example.com" value ="{{user_email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">New Password</label>

                            <div class="controls">
                                <input type="password" class="form-control" name="user_pass" id="user_pass"
                                       placeholder="**********">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>

                            <div class="controls">
                                <input type="password" class="form-control" name="confirm_password"
                                       id="confirm_password"
                                       placeholder="**********">
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:void(0)"
                               id="save-user-profile" class="btn btn-primary btn-cons"
                               data-colorpicker-guid="1"
                               data-color-format="hex"
                               data-color="rgb(255, 255, 255)">Save</a>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="profile-wrapper pull-right">
                            <img class="m-b-10" width="90"
                                 height="90"
                                 data-src-retina="assets/img/profiles/avatar2x.jpg"
                                 data-src="assets/img/profiles/avatar.jpg"
                                 alt=""
                                 src="assets/img/profiles/avatar.jpg">

                            <div class="clearfix"></div>
                            <a id="save_prof" class="m-t-10" href="#" data-color-format="hex">Click
                                to
                                add/edit Profile Photo</a>
                        </div>
                    </div>
                </div>

                <div class=" m-t-20">
                    <a id="save_prof" class="pull-right" href="#" data-color-format="hex">Delete
                        Account</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END BASIC FORM ELEMENTS-->