<div class="page-title"><i class="icon-custom-left"></i>
    <h3>User <span class="semi-bold">Profile</span></h3>
</div>
<!-- BEGIN BASIC FORM ELEMENTS-->
<div class="row">
    <div class="col-md-9">
        <div class="grid simple">
            <div class="grid-body no-border"><br>
 <div id="form-msg"></div>
                <div id="form-msg-logout"></div>
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="form-group">
                            <label class="form-label">Your Name</label>

                            <div class="controls">
                                <input type="text" class="form-control" name="display_name" id="display_name"
                                       placeholder="e.g. Mona Lisa Portrait" value ="{{display_name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email ID</label>

                            <div class="controls">
                                <input type="text" class="form-control" name="user_email" id="user_email"
                                 readonly ="readonly" placeholder="e.g. some@example.com" value ="{{user_email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">New Password</label>

                            <div class="controls">
                                <input type="password" class="form-control" name="user_pass" id="user_pass"
                                      >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>

                            <div class="controls">
                                <input type="password" class="form-control" name="confirm_password"
                                       id="confirm_password"
                                      >
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:void(0)"
                               id="btn-save-user-profile" class="btn btn-primary btn-cons"
                               data-colorpicker-guid="1"
                               data-color-format="hex"
                               data-color="rgb(255, 255, 255)">Save</a>
                        </div>
                        <span class="ajax-loader-login pull-right" style="display: none"></span>
                    </div>

                    <div id="user-photo"></div>

                </div>
               
                <div class=" m-t-20">
                   <!-- <a id="save_prof" class="pull-right" href="#" data-color-format="hex">Delete
                        Account</a>-->
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END BASIC FORM ELEMENTS-->

