<ul class="nav nav-tabs" id="tabs">
    <li class="active"><a href="javascript:void(0)">Domain Details</a></li>
    <li><a href="#domains/edit/{{ID}}/list-plan">Domain Plan</a></li>
    <li><a href="javascript:void(0)">Statistics</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active">

        <ol class="breadcrumb">
            <li><a href="#domains">View Domains</a></li>
            <li class="active"><b class="form-title"></b></li>
        </ol>
        <!--- Add/Edit Domain Section -->
        <div class="row ">
            <!--- Success message -->
            <div class="col-md-6">
                <div id="msg"></div>
                <h3 class="m-b-20"><span class="semi-bold form-title"></span></h3>

                <div class="grid simple">
                    <div class="grid-body no-border">
                        <form id="add-edit-user-domain-form">

                            <div class="form-group">
                                <label class="form-label">Domain Name</label>
                                <span class="help">e.g. "xyz"</span>

                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input type="text" name="post_title" id="post_title" class="form-control"
                                           value="{{post_title}}">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Site Url</label>
                                <span class="help">e.g. "http://www.xyz.com"</span>

                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input type="text" name="domain_url" id="domain_url" class="form-control"
                                           value="{{domain_url}}">
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#domains" class="btn" id="close-add-domain">
                                    Close</a>
                                <button type="button" class="btn btn-primary"
                                        id="btn-add-edit-user-domain">
                                    <i class="icon-ok"></i> Save
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-danger "
                                        id="btn-delete-domain">
                                    Delete
                                </button>
                                <span class="ajax-loader-login pull-right" style="display: none"></span>
                                <input type="reset" id="btn-reset-add-domain" style="display:none">
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- show side box -->
            <div class="col-md-6" id="apikey-box">
                <div class="alert alert-success alert-default">
                    <h3>API<span class="semi-bold"> Key</span> For your domain</h3>
                    <span>key</span>

                    <!--<form id="Site-upload" action="#">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-with-icon  right">-->
                                <!--<select class="form-control">-->
                                    <!--<option>Wordpress</option>-->
                                    <!--<option>Wordpress</option>-->
                                    <!--<option>Wordpress</option>-->
                                    <!--<option>Wordpress</option>-->
                                    <!--<option>Wordpress</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pull-Left">-->
                            <!--<button type="submit" class="btn btn-success btn-cons">Download our Php Plugin</button>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                        <!--<br>-->
                        <!--If you haven't already-->
                        <!--You'll need this API key in order to securely-->
                        <!--<b>Sign your Single Sign On request</b>-->

                        <!--<div class="form-group">-->
                            <!--<div class="input-with-icon  right">-->
                                <!--<i class=""></i>-->
                                <!--<input type="text" name="form1siteurl" id="form1siteurl" class="form-control">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row small-text">-->
                            <!--<p class="col-md-12">-->
                                <!--we recommend that you read our full PHP libiary instructions <a href="#">here </a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</form>-->
                </div>
            </div> <!-- end of side box -->
        </div>
        <hr>
        <!--  End of Add/Edit domains section -->


        <!--- Add Groups Section -->
        <div class="row">
            <div id="groups-region" class="col-md-8"></div>
            <div class="col-md-4">
                <div id="active-subscription"></div>
            </div>
        </div>
    </div>
</div>

