<h3 class="m-b-20"><span class="semi-bold">Chat Rooms</span>
<div class="pull-right actions">
    <button class="btn btn-primary " type="button" id="btn-new-ticket">Add Group</button>
</div></h3>
        <div class="grid simple">
            <div class="grid simple" id="new-ticket-wrapper" style="display:none">
                <div class="grid-body no-border">
                    <!--add domain groups -->
                    <form id="add-group-form">
                    <div class="row">
                        <div id="success-msg"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <span class="help">e.g. "xyz"</span>
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input type="text" name="group_name"
                                    id="group_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <div class="input-with-icon ">
					                <textarea name="group_description"
                                    id="group_description" class="form-control">
                                    </textarea>
                                </div>
                            </div>
							<a href="javascript:void(0)" class="delete-group" id="">Delete</a>
                            <div class="pull-right">
							<button class="btn " type="button" id="btn-close-ticket">
                                Cancel</button>
                                <button type="button" class="btn btn-primary "
                                        id="btn-save-domain-group">
                                    <i class="icon-ok"></i> Save</button>
									 
                                
                               
                                <input type="reset" style="display: none" id="btn-reset-group"/>
                            </div>
                        </div>

                    </div>
                    </form>
                </div>
            </div>
            
            <!-- list domain groups -->
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:15%" >Group Name</th>
                    <th style="width:30%" data-hide="phone,tablet">Description</th>
                    
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
  


<script>
    $(document).ready(function(){
        /** Text Editor **/
//$('#message').wysihtml5();

        /** Events **/

        $('.grid .actions a.remove').on('click', function () {
            var removable = jQuery(this).parents(".grid");
            if (removable.next().hasClass('grid') || removable.prev().hasClass('grid')) {
                jQuery(this).parents(".grid").remove();
            } else {
                jQuery(this).parents(".grid").parent().remove();
            }
        });

        $('.grid .clickable').on('click', function () {
            var el = jQuery(this).parents(".grid").children(".grid-body");
            el.slideToggle(200);
        });
    });
</script>